body  {
	display:flex;
	justify-content: center;
	align-items: center;
	
}

form{
	width:481px;
	height:392px;
	border-radius:12px;
	background: #F7F5F9;
	box-shadow: 4px 4px 9px -4px #2e2e2e;
	margin:31px;
	     
    
}
h1 {
	color: #3B3D43;
	width: 168px;
	margin-top:25px; 
	margin-left:40px;
	font-family: Roboto, sans-serif;;
	font-size: 22px;  
}
.textbox{
	margin-right:40px;
	margin-left:40px;
	margin-top: 0px;
  width:401px;
  height:48px;
  border-radius:6px;
  border:white 1px solid;
  box-sizing:border-box;
  font-family: Roboto; 
  font-size:18px; 
  padding:10px;
  margin-bottom:30px;  
}

.textbox:focus{
  outline:none;
   border:#854FC8 1px solid;
   color:#3B3D43
}
.textbox:hover {
  border-color:  #854FC8;
  }
   
.button{
  width:401px;
  height:48px;
  margin-right:40px;
	margin-left:40px;
  border-radius:6px;
  border:rgba(0,0,0,.3) 1px solid;
  box-sizing:border-box;
  padding:10px;
  background-color: #6979F8; color:#FFFFFF;
  font-family: Roboto, sans-serif;  
  font-weight:400;
  font-size: 17px;
  cursor:pointer;
}

